/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #0033cc;
  --clr-black: #14161c;
  --clr-secondary-1: #1d1f24;
  --clr-gray-dark: #484848;
  --clr-gray: #909195;

  --ff-primary: "Inter", sans-serif;

  --transition: all 2s ease;
}
/*
=============== 
Global Styles
===============
*/
html {
  font-size: 62.5%;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-secondary-1);
  color: white;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-gray);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  border: 0;
  padding: 0 5px;
}
button {
  color: white;
  font-weight: 500;
  border-radius: 5px;
  all: unset;
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0;
  font-family: var(--ff-primary);
  font-weight: 500;
  color: white;
}
h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
  margin: 2.4rem 0 1.6rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-gray);
}

@media screen and (min-width: 1100px) {
  h1 {
    font-size: 4rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.5;
  }
}

/* ///////////
me-made classes
///////////// */

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

/* 
================
global components
=================
*/

/* btn */
.btn {
  margin: 4px;
  padding: 8px 1.8rem;
  border-radius: 0.5rem;
}
.btn-primary {
  background-color: white;
  color: var(--clr-primary-1);
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* slider options */
.slider-option {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-option img {
  width: 6rem;
}
@media screen and (min-width: 500px) {
  .slider-option {
    align-items: start;
  }
  .slider-option p {
    text-align: start;
  }
}
@media screen and (min-width: 1115px) {
  .slider-option {
    width: 32.5rem;
  }
}
/* pwa-section */
.pwa-section {
  background-color: var(--clr-black);
  height: 100vh;
  margin: 2rem 0;
}
.input {
  background-color: var(--clr-gray-dark);
  padding: 1.1rem;
  border-radius: 0.3rem;
}
.pwa-logo-container {
  background-color: white;
  width: 13.8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  justify-content: end;
  padding: 2px 8px;
  height: fit-content;
}
.pwa-logo-container img {
  width: 10rem;
}
.form-container{
  margin: 3rem 3.8rem;
  gap: 3rem;
}
.returnBtn{
  gap: 1rem;
  align-items: center;
}
.returnBtn h3{
  margin: 0;
}
.number-input-container{
  display: grid;
  grid-template-columns: 1rem 5.8rem 1fr;
  grid-template-rows: repeat(auto, 3.3rem);
  gap: 0.5rem;
  align-items: center;
}
.number-input-container p{
  font-size: 1.6rem;
}
.password-container{
  gap: 1rem;
}
.forgot{
  align-self: end;
  font-size: 1.3rem;
}
.pwa-btn{
  text-align: center;
  color: white;
  background-color: var(--clr-primary-1);
}
.sign-in-btn{
  width: 100%;
}
.sign-up-btn{
  width: fit-content;
  align-items: end;
  justify-self: end;
}
.signup-btn-container{
  display: flex;
  align-items: end;
  width: 100%;
}
.navigate-link{
  gap: 1rem;
  align-self: center;
}
.navigate-link p{
  color: var(--clr-primary-1);
}
@media screen and (min-width: 800px) {
  .pwa-section{
    width: 80rem;
    justify-self: center;
  }
}
/* arrow-li */
.arrow-li h4 {
  margin: 1rem;
}

.logo-container {
  background-color: white;
  padding: 0.8rem;
  width: fit-content;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.logo-container img {
  width: 7.9rem;
  height: 3.6rem;
}
@media screen and (min-width: 1115px) {
  .logo-container {
    padding: 4.8rem 0.8rem 0.8rem;
  }
  .logo-container img {
    width: 14rem;
    height: 6.4rem;
  }
}

/* 
=============
sections
============
 */
.layout-section {
  padding-right: clamp(1rem, 15vw, 15.4rem);
  padding-left: clamp(1rem, 15vw, 15.4rem);
}
.layout-section-header {
  padding: 0 clamp(1rem, 15vw, 15.4rem);
}

/* nav-container */
.nav-container {
  background-color: var(--clr-primary-1);
  border-bottom: 1px solid var(--clr-secondary-1y);
  justify-content: space-between;
}

/* footer */
footer {
  background-color: var(--clr-primary-1);
}
.footer {
  padding-top: 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-about {
  gap: 2.2rem;
  text-align: center;
}
.logo-white {
  width: 10rem;
  height: 6.4rem;
}
.footer-about p {
  font-size: 1.2rem;
}
.footer-logo {
  display: none;
}
.footer-pages {
  text-align: center;
}
.footer-pages ul {
  display: flex;
  flex-direction: column;
}

.link {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-gray);
  text-decoration: none;
}
.footer-pages h2 {
  margin-bottom: 1.6rem;
  font-size: 2.1rem;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.contact-icons {
  gap: 1rem;
}
.rights {
  padding: 4rem 0 4.8rem;
}

@media screen and (min-width: 500px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .footer-about {
    gap: 1rem;
    text-align: start;
  }
  .footer-about p {
    font-size: 1.6rem;
    text-align: start;
    line-height: 2.8rem;
  }
  .footer-logo-container {
    background-color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1.2rem 0.8rem;
    width: fit-content;
  }
  .logo-white {
    display: none;
  }
  .footer-logo {
    display: block;
    width: 14rem;
    height: 6.4rem;
  }
  .footer-pages {
    text-align: start;
    margin-left: 5rem;
  }
  .footer-contact {
    gap: 4.8rem;
  }
  .rights {
    width: 100%;
    text-align: end;
  }
}
@media screen and (min-width: 500px) {
  .footer {
    gap: clamp(1rem, 5vw, 4.4rem);
  }
  .footer-contact {
    align-items: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer > * {
    flex: 0.5 0 0;
  }
  .footer-pages {
    margin-left: 0rem;
  }
}

/* homepage */
.header-container {
  background-color: var(--clr-primary-1);
  padding-top: 2rem;
}
/* header */
.header {
  transition: padding ease 2s;
  padding: 8rem 0 3rem;
}
.header-title {
  text-align: center;
  margin-bottom: 3rem;
}
.header-title h1 {
  margin: 0;
}
.header-title p {
  margin: 1.6rem;
}
.mobile-img {
  display: none;
}
.falling-text {
  display: inline-block;
  overflow: hidden;
}

.falling-text span {
  display: inline-block;
  transform: translateY(-100px);
  opacity: 0;

  animation: fall 0.5s forwards;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
.gap {
  display: none;
}
/* falling animation */
@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  2% {
    transform: translateY(0);
    opacity: 0;
  }
  3% {
    transform: translateY(-100px);
    opacity: 0;
  }
  5% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 490px) {
  .header-title {
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 0;
  }
  .header {
    padding: 6rem 0rem 3rem;
  }
}
@media screen and (min-width: 620px) {
  .header {
    padding: 9.4rem 0rem 8rem;
  }
}
@media screen and (min-width: 620px) {
  .header {
    padding: 9.4rem 0rem 8rem;
  }
}
@media screen and (min-width: 1100px) {
  .mobile-img {
    display: block;
    justify-self: center;
  }
  .header {
    padding: 4.5rem 0rem 8rem;
  }
  .header-title {
    text-align: center;
    padding-top: 4.5rem;
  }
}
@media screen and (min-width: 1110px) {
  .mobile-img {
    display: block;
    justify-self: center;
    flex-grow: 1;
    background-color: var(--clr-primary-1);
    border-bottom-left-radius: 80%;
    position: relative;
    padding: 1rem clamp(1rem, 15vw, 15.4rem) 0 0;
    z-index: 2;
  }
  .mobile-img img {
    display: none;
  }
  .header {
    display: flex;
    padding: 0;
    flex-direction: row-reverse;
    height: 58.5rem;
    position: relative;
  }
  .header-title {
    text-align: center;
    padding-top: 4.5rem;
  }
  .layout-section-header {
    padding: 0;
  }
  .header-content-container {
    background-color: var(--clr-primary-1);
    padding: 4.5rem 15rem 0 clamp(1rem, 15vw, 15.4rem);
    border-bottom-right-radius: 30%;
    width: 70%;
    z-index: 1;
  }
  .header-content-container h1,
  .header-content-container p {
    text-align: start;
  }
  .header-bg {
    width: 100%;
    height: 20rem;
    background-color: var(--clr-secondary-1);
    position: absolute;
    bottom: 0;
  }
  .gap {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gap img {
    width: max-content;
    height: auto;
    position: static;
    z-index: 3;
  }
}

/* //////////////body */

/* slider */
.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem;
  scrollbar-width: 1.5rem;
}

.slider::-webkit-scrollbar {
  height: 8px;
}
.slider::-webkit-scrollbar-thumb {
  background: var(--clr-gray);
  border-radius: 4px;
}
.slider::-webkit-scrollbar-track {
  background: var(--clr-secondary-1);
}

.slide {
  flex: 0 0 80%;
  background: var(--clr-secondary-1);
  border-radius: 1.2rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}
.arrow {
  background-color: var(--clr-secondary-1);
  height: fit-content;
  align-self: end;
  display: flex;
}
.arrow img {
  width: 1.5rem;
  align-self: flex-end;
}
.left {
  rotate: 180deg;
}
@media screen and (min-width: 900px) {
  .slider {
    width: 100%;
    overflow-x: visible;
    width: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .slide {
    flex: 1;
    width: auto;
    max-width: 33%;
  }
  .slide h3 {
    text-align: start;
  }

  .arrow {
    display: none;
  }
}

.body {
  background-color: var(--clr-secondary-1);
}
.body-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  gap: 5rem;
}

/* video-container */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.video-content-container {
  padding: 5rem 0 10.4rem;
}
.video-container video {
  width: 100%;
  margin: 2.6rem 0;
}
.video-box {
  align-items: center;
}
.video-content {
  gap: 2rem;
}
.video-content-container {
  gap: 5rem;
}
@media screen and (min-width: 1270px) {
  .video-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .video-box {
    grid-area: 1/2/2/3;
  }
  .video-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* path-section////// */
.path-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem;
}
.path-section h1 {
  margin-bottom: 3rem;
}

.homeChild {
  background-color: #1d1f24;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.queston p {
  margin: 2rem 0;
}

/* breadcrumb */
.breadcrumb {
  align-items: center;
  padding: 8rem;
}

.breadcrumb a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: var(--clr-gray);
}
