/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #0033cc;
  --clr-secondary-1: #14161C;
  --clr-gray: #909195;
  
  --ff-primary: "Inter", sans-serif;


  --transition: all 1s ease;

}
/*
=============== 
Global Styles
===============
*/
html {
  font-size: 62.5%;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-secondary-1);
  color: white;
  line-height: 1.5;
}
ul {
  list-style-type:none ;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0;
  font-family: var(--ff-primary);
  font-weight: 500;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-gray);
}
@media screen and (min-width: 1100px) {
  h1 {
    font-size: 4rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* section */


.box {
  background-color: blue;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  width: 60vw;  
  height: 40vh;  

  transition: width 1s ease, height 1s ease;
}


.sub {
  background-color: blueviolet;
}

@media screen and (min-width: 800px) {
  /* logo resizes */
}

@media screen and (min-width: 800px) {
  /* slider resizes */
}
@media screen and (min-width: 1100px) {
  /* font resizes, mobile apears */
  .box {
    max-width: 100rem; 
    height: 15rem; 
  }
}
@media screen and (min-width: 1111px) {
  /* heading transforms */
  .box {
    max-width: 100rem; 
    height: 15rem; 
  }
}


